<div class="border-top pl-4 pr-4 position-bottom footer-spree-copyright"> 
  <div class="d-flex justify-content-arround text-center">
    <div class="p-2 bd-highlight col-sm-4 col-md-4 col-lg-4  "> <div> © <%= Time.current.year %> <span>Une solution innovante du groupe Finetech</span> </div> </div>
    <div class="p-2 bd-highlight col-sm-6 col-md-6 col-lg-6  ">  </div>
    <div class="d-flex col-sm-6 col-md-6 col-lg-6  row" >
        <span class="p-2 bd-highlight col-lg-1"> <%= image_tag "wave.png", width: "auto", class: "img-fluid" %></span>
        <span  class="p-2 bd-highlight col-lg-1"><%= image_tag "om.png", width: "auto", class: "img-fluid" %></span>
        <span  class="p-2 bd-highlight col-lg-1"><%= image_tag "free.png", width: "auto", class: "img-fluid" %></span>
        <span class="p-2 bd-highlight col-lg-1"><%= image_tag "visa.png", width: "auto", class: "img-fluid" %></span>
      </div>
  </div>
</div>

