<div class="col-md-12 mx-auto">
  <h3 class="spree-mb-large spree-mt-large spree-header">Connectez vous</h3>
  <%= form_for Spree.user_class.new, as: :spree_user, url: spree_login_path do |f| %>
    <div id="password-credentials" class="mb-4">
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.email_field :email, class: 'spree-flat-input', placeholder: "Email ou mot de passe", value: params.dig(:spree_user, :email) %>
        </p>
      </div>
      <div class="form-group mb-4">
        <p class="form-group checkout-content-inner-field">
          <%= f.password_field :password, class: 'spree-flat-input', placeholder: "mot de passe" %>
        </p>
      </div>
    </div>

    <% if Spree::Frontend::Config[:remember_me_enabled] %>
      <div class="spree-checkbox-container mb-3">
        <div class="spree-checkbox">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, '' %> 
        </div>

        <%= f.label :remember_me, "Se souvenir de moi", class: 'spree-checkbox-label' %>
      </div>
    <% end %>

    <div class="row">
    <div class="col-md-6">
         <%= f.submit "Annuler", class: 'btn btn-primary annuler btn-block spree-btn mt-2' %>
    </div>
    <div class="col-md-6">
        <%= f.submit "Connexion", class: 'btn btn-primary connexion btn-block spree-btn mt-2' %>
    </div>
    </div>


  <% end %>

  <% if spree.respond_to?(:recover_password_path) %>
    <div class="text-center forgot-password mb-4">
      <%= link_to "Mot de passe oublié", spree.recover_password_path %>

        
        <div class="rounded-social-buttons mt-4 mb-4 ">
          <a class="circle-button google-plus" href="#"></a>
          <a class="circle-button facebook" href="#"></a>
          <a class="circle-button twitter" href="#"></a>
          <a class="circle-button linkedin" href="#"></a>
        </div>


      <%= link_to "S'inscrire", spree_signup_path, class: 'btn btn-primary text-dark inscription btn-block spree-btn mt-2' if defined?(spree_signup_path) %>


    </div>
  <% end %>
  


</div>
