<% url = spree.product_path(product, taxon_id: @taxon&.id) %>
<%= link_to url, class: 'd-flex flex-column justify-content-between' do %>
  <% cache [common_product_cache_keys, product] do %>
    <%= plp_and_carousel_image(product, image_class) %>
    <div>
      <div class="product-component-name mb-0 text-center " title="<%= product.name %>">
                <h5 class="ppl-title-product"><%= product.name %></h5>

      </div>
      <div class="product-component-price mt-1 text-center"><%= display_price(product) %></div>
    </div>
  <% end %>
<% end %>
