<% @body_id = 'home' %>
<div>
  <div class="homepage-hero-image mb-3" >
    <img class="lazyload hero-image position-absolute" style="height:600px"
        data-src="<%= asset_path('homepage/main_banner.jpg') %>"
        data-srcset="<%= image_source_set('homepage/main_banner') %>"
        alt="Summer Collection">

    <div class="hero-content" style="margin-right:4em; margin-top:6em">
    
        <div class="homepage-hero-image-text mb-2 mx-auto pb-3 pb-md-4" style="color:black">
        Nouvelle Arrivage
        </div>
        <div style="backgroung-color:yellow">
        <%= link_to 'Acheter', spree.products_path, class: 'btn btn-primary spree-btn px-5' %>
        </div>
    </div>
    </div>
</div> 

<div class="container " style="margin-top:6em">
  <h2>Nos catégories</h2>
   <section class=" row">
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/3120sq9i84.jpg " height="150px" >
        <p class="text-center" style="margin-right:1.8em"><strong>Electromenager & Electronique</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/13369429.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Climatiseur & Ventilateurs</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/f857c6af3191b194b3032082add03999.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Chaises & Fauteuilles</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/1-14.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Ordinateurs & Bureau</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/k2-_53f433d8-afec-4e1b-94f2-40a137db6bc4.v1.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Téléviseurs & Home cinéma</strong></p>
      </div>
      <div class="col-md-2 col-sm-6 col-6">
        <img src="https://eshop.faykoo.com/wp-content/uploads/2021/01/13369429.jpg" height="150px">
        <p class="text-center" style="margin-right:1.8em"><strong>Chambre à coucher</strong></p>
      </div>
     
   </section>
</div>

<div>
  <div class="container mt-5">
    <h2>Produits récents</h2>

    <div class="row">
        <div class="col-md-2 col-sm-6 col-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                    </a>
                    <span class="product-discount-label">-20%</span>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Men's Blazer</a>
                    </h3>
                    <div class="price">$16.00
                        <span>$20.00</span>
                    </div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Article</a>
                    </h3>
                    <div class="price">13.000 Fcfa</div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Women's Top</a>
                    </h3>
                    <div class="price">$17.50</div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Women's Top</a>
                    </h3>
                    <div class="price">$17.50</div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    
                    
                </ul>
            </div>
        </div>
         <div class="col-md-2 col-sm-6 col-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Women's Top</a>
                    </h3>
                    <div class="price">$17.50</div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    
                    
                </ul>
            </div>
        </div>
         <div class="col-md-2 col-sm-6 col-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                    </a>
                </div>
                <div class="product-content">
                    <h3 class="title">
                        <a href="#">Women's Top</a>
                    </h3>
                    <div class="price">$17.50</div>
                </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    
                    
                </ul>
            </div>
        </div>
    </div>
</div>

<div>
  <div class="container mt-5">
    <h2>En promo cette semaine</h2>

    <div class="row">
        <div class="col-md-4 col-sm-12 promos1">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#">
                        <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                    </a>
                    <span class="product-discount-label">-20%</span>
                </div>
                <div class="pcontent">
                <p class="mb-0 text-white">La promo se termine dans:</p>
                      <div class="text-white mb-0" id="countdown">
                        <ul style="padding-inline-start:0px !important">
                          <li><span id="days"></span>jours</li>
                          <li><span id="hours"></span>heures</li>
                          <li><span id="minutes"></span>minutes</li>
                          <li><span id="seconds"></span>secondes</li>
                        </ul>
                      </div>
                     
                    </div>
                    <h3 class="mb-0">
                        <a href="#" class="mb-0" style="color:white">Iphone 12 Pro 256go</a>
                    </h3>
                    <div class="price mb-4">540.000 Fcfa
                        <span class="text-white">610.000 Fcfa</span>
                    </div>
                <ul class="social">
                    <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="row col-md-12 col-xs-12 col-sm-12">
              <div class="col-md-3 col-sm-6 col-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#">
                              <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                          </a>
                          <span class="product-discount-label">-20%</span>
                      </div>
                      <div class="product-content">
                          <h3 class="title">
                              <a href="#">Article</a>
                          </h3>
                          <div class="price">29.000 Fcfa
                              <span>39.000 Fcfa</span>
                          </div>
                      </div>
                      <ul class="social">
                          <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                          <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                          
                          
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6 ">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#">
                              <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                          </a>
                      </div>
                      <div class="product-content">
                          <h3 class="title">
                              <a href="#">Article</a>
                          </h3>
                          <div class="price">13.000 Fcfa</div>
                      </div>
                      <ul class="social">
                          <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                          <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                          
                          
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#">
                              <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                          </a>
                      </div>
                      <div class="product-content">
                          <h3 class="title">
                              <a href="#">Article</a>
                          </h3>
                          <div class="price">89.000 Fcfa</div>
                      </div>
                      <ul class="social">
                          <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                          <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                          
                          
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#">
                              <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                          </a>
                      </div>
                      <div class="product-content">
                          <h3 class="title">
                              <a href="#">Article</a>
                          </h3>
                          <div class="price">59.000 Fcfa</div>
                      </div>
                      <ul class="social">
                          <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                          <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                          
                          
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#">
                              <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                          </a>
                      </div>
                      <div class="product-content">
                          <h3 class="title">
                              <a href="#">Article</a>
                          </h3>
                          <div class="price">59.000 Fcfa</div>
                      </div>
                      <ul class="social">
                          <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                          <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                          
                          
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#">
                              <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                          </a>
                      </div>
                      <div class="product-content">
                          <h3 class="title">
                              <a href="#">Article</a>
                          </h3>
                          <div class="price">1.500 Fcfa</div>
                      </div>
                      <ul class="social">
                          <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                          <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                          
                          
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#">
                              <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                          </a>
                      </div>
                      <div class="product-content">
                          <h3 class="title">
                              <a href="#">Article</a>
                          </h3>
                          <div class="price">59.000 Fcfa</div>
                      </div>
                      <ul class="social">
                          <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                          <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                          
                          
                      </ul>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#">
                              <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
                          </a>
                      </div>
                      <div class="product-content">
                          <h3 class="title">
                              <a href="#">Article</a>
                          </h3>
                          <div class="price">59.000 Fcfa</div>
                      </div>
                      <ul class="social">
                          <li><a href="" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                          <li><a href="" data-tip="Wishlist"><i class="fa fa-heart"></i></a></li>
                          
                          
                      </ul>
                  </div>
              </div>
          </div>
        </div>
        
    </div>
</div>


  <div class="container mt-4">
     <div class="slider" id="slider">
  <div class="slide" id="slide">
    <div class="item  product-grid">
        <div class="product-image">
            <a href="#">
                <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
            </a>
        </div>
        <div class="product-content">
            <h3 class="title">
                <a href="#">Article</a>
            </h3>
            <div class="price">59.000 Fcfa</div>
        </div>
       
    </div>
    <div class="item  product-grid">
        <div class="product-image">
            <a href="#">
                <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
            </a>
        </div>
        <div class="product-content">
            <h3 class="title">
                <a href="#">Article</a>
            </h3>
            <div class="price">59.000 Fcfa</div>
        </div>
        
          
    </div>
    <div class="item  product-grid">
        <div class="product-image">
            <a href="#">
                <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
            </a>
        </div>
        <div class="product-content">
            <h3 class="title">
                <a href="#">Article</a>
            </h3>
            <div class="price">59.000 Fcfa</div>
        </div>
        
    </div>


    <div class="item  product-grid">
        <div class="product-image">
            <a href="#">
                <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
            </a>
        </div>
        <div class="product-content">
            <h3 class="title">
                <a href="#">Article</a>
            </h3>
            <div class="price">59.000 Fcfa</div>
        </div>
       
    </div>
    <div class="item  product-grid">
        <div class="product-image">
            <a href="#">
                <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
            </a>
        </div>
        <div class="product-content">
            <h3 class="title">
                <a href="#">Article</a>
            </h3>
            <div class="price">59.000 Fcfa</div>
        </div>
        
    </div>
    <div class="item  product-grid">
        <div class="product-image">
            <a href="#">
                <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
            </a>
        </div>
        <div class="product-content">
            <h3 class="title">
                <a href="#">Article</a>
            </h3>
            <div class="price">59.000 Fcfa</div>
        </div>
       
    </div>
    <div class="item  product-grid">
        <div class="product-image">
            <a href="#">
                <img class="pic-1" src="https://www.mac4ever.com/images/103370_iphone-12-des-concept-en-folie-autour-du-bloc-optique-avec-lidar.jpg">
            </a>
        </div>
        <div class="product-content">
            <h3 class="title">
                <a href="#">Article</a>
            </h3>
            <div class="price">59.000 Fcfa</div>
        </div>
        
    </div>
  </div>
  <button class="ctrl-btn pro-prev">Prev</button>
  <button class="ctrl-btn pro-next">Next</button>
</div>
      
    </div>





<br>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= link_to spree.nested_taxons_path('streetstyle') do %>
        <div class="homepage-bottom-box text-center mb-3">
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/promo_banner_left.jpg') %>"
            data-srcset="<%= image_source_set('homepage/promo_banner_left') %>"
            alt="NEW COLLECTION">

          <div class="homepage-bottom-box-inner" role="img" aria-label="New Collection">
            <div class="homepage-bottom-box-inner-small-text">
              New Collection
            </div>
            <div class="homepage-bottom-box-inner-big-text">
              Streetstyle
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-lg-6">
      <%= link_to spree.nested_taxons_path('summer-sale') do %>
        <div class="homepage-bottom-box text-center mb-3">
          <img class="w-100 lazyload"
            data-src="<%= asset_path('homepage/promo_banner_right.jpg') %>"
            data-srcset="<%= image_source_set('homepage/promo_banner_right') %>"
            alt="Summer Sale">

          <div class="homepage-bottom-box-inner">
            <div class="homepage-bottom-box-inner-small-text">
              Montre Connectée  
            </div>
            <div class="homepage-bottom-box-inner-big-text">
              Jusqu'à -20%
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
